@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a { 
	text-decoration: none;
}
body{
	width: 100%;
	
}

#navbar{
	position: fixed;
	width: 250px;
	height: 100%;
	background-color:#111827;
	
}
#navbar .logo{
	color: aqua;
	padding: 20px 70px;
	height: 100px;
	width: 100px;
}
#navbar .text{
	color: cyan;
	font-size: 30px;
	font-weight: bolder;
	padding: 35px 10px 40px 0px;
	text-align: center;
}

.nav ul {
	background-color: #111827;
	height: 100%;
	width: 100%;
	list-style: none;
}


#navbar .nav{
	padding: 20px 5px;

}
#navbar .nav ul li{
	list-style: none;
	padding: 15px 20px;
	color: white;
	font-size: 23px;
	
}
#navbar .nav ul li:hover{
	padding: 15px 20px;
	background-color: #253047;
	font-size: 30px;
	cursor: pointer;
	
}
#navbar .nav ul li a{
	color: white;
	font-weight:bolder;
}
#navbar .nav ul li a:hover{
	color: rgb(134, 141, 151);
    transition: 0.3s ease;;
	font-weight:bolder;
}
#navbar .nav ul ul{
	position: static;
	display: none;
}
#navbar .nav ul ul li{
	line-height: 32px;
	border-bottom: none;
}
#navbar .nav ul ul li a{
	font-size: 16px;
   padding-left: 30px;
}
#navbar .nav ul li a .span1{
	position:absolute;
	top: 51.5%;
	right: 60px;
	transform: translateY(-50%) rotate(-180deg);
	font-size: 22px;
	transition: transform 0.4s;
}
#navbar .nav ul li a:hover .span1{
	
	transform: translateY(-50%);
	
}
#navbar .nav ul li a .span2{
	position:absolute;
	top: 59%;
	right: 60px;
	transform: translateY(-50%) rotate(-180deg);
	font-size: 22px;
	transition: transform 0.4s;
}
#navbar .nav ul li a:hover .span2{
	
	transform: translateY(-50%);
	
}
.nav ul .subnav.show{
	display: block;
}



#content .btn{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
    justify-content: center;

}



